ion-item {
    margin: 0 auto;
}

* {
    color: whitesmoke;
}

ion-card {
    --background: #363636;
    text-align: center;
}

ion-list {
    background-color: var(--secondary);
}

img {
    width: 100%;
}

ion-card {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 3%;
}