<ion-header>
  <ion-toolbar color="secondary">
    <ion-title>
      Tourism Cities
    </ion-title>
    <ion-buttons slot="start">
        <ion-back-button shape="round" href="/listado">
        </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="primary">
  <ion-item>
    <ion-label position="floating">Nombre</ion-label>
    <ion-input clearInput [(ngModel)]="lugar.nombre"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Descripción</ion-label>
    <ion-input clearInput [(ngModel)]="lugar.descripcion"></ion-input>
  </ion-item>
  <ion-item>
      <ion-label position="floating">Latitud</ion-label>
      <ion-input clearInput [(ngModel)]="lugar.lat"></ion-input>
  </ion-item>
  <ion-item>
      <ion-label position="floating">Longitud</ion-label>
      <ion-input clearInput [(ngModel)]="lugar.long"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">URL</ion-label>
    <ion-input clearInput [(ngModel)]="lugar.photoUrl"></ion-input>
  </ion-item>
  <br>
  <ion-button (click)="saveLugar(lugar)" id="boton" color="medium" expand="full">
    <ion-icon name="save"></ion-icon>
    Guardar
  </ion-button>
</ion-content>