<ion-header>
  <ion-toolbar color="secondary">
    <ion-title>
      Tourism Cities
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="primary">
  <ion-slides speed="3000" #mySlider pager="true" (ionSlidesDidLoad)="slidesDidLoad(mySlider)">
    <ion-slide>
      <img src="./assets/malaga.png">
    </ion-slide>
    <ion-slide>
      <img src="./assets/citywallpaperhd.com-76.jpg">
    </ion-slide>
    <ion-slide>
      <img src="./assets/DE8.jpg">
    </ion-slide>
  </ion-slides>

  <ion-button color="medium" expand="block" router-direction="forward" href="/listado">Acceder</ion-button>
